table {
    margin-top:100px;

    font-family: arial, sans-serif;
    border: 1px solid black;
    border-radius:25px;
    width: 50%;
    background-color: rgb(51, 197, 200);

}

td,th {
    border: 1px solid #000000;
    border-radius: 25px;

    text-align: left;
    padding: 8px;
}

